<extend name="Index/index" />
<block name="link">
    <link rel="stylesheet" href="__PUBLIC__/home/community.css">
    <link rel="stylesheet" href="__PUBLIC__/home/home.css">
    <!-- 边框颜色 #222  #BBB  字#666 #111 -->
</block>
<block name="scroll"></block>

<block name="daohang">
    <li><a href="#">首页</a></li>
    <li class="active"><a href="#">社区</a></li>
</block>
<block name="main">
<div class="container border">
    <div class="border" style="">
        <!-- 4个小组 -->
        <div class="">
            <a href="" class="type fl" style="color:#111">3C数码</a>
            <a href="" class="type fl" style="color:#737474">文化</a>
            <a href="" class="type fl" style="color:#737474">行摄</a>
            <a href="" class="type fl" style="color:#737474">LGM</a>
                <p style="margin-right:15%" class="type fr border">活跃小组</p>

        </div>

            
        <div class="clear" style="width:100px"></div>

        <div class="fl border group_content mt30" style="border:1px solid #BBB;border-top:2px solid #222">
            <div class="">
                <div>
                    <div class="fl" style="width:14%">
                        <img src="__PUBLIC__/home/image/grouphead1.jpg" alt="">
                    </div>
                    <div class="fl type1" style="width:65%;margin-top:10px">
                        <a style="color:#111" href="">手机研究所</a><br>
                        <span class="group_zi" style="font-size:14px;cursor:default;">13216&nbsp;人聚集于此 &nbsp;&nbsp;4855&nbsp;帖子</span>
                    </div>
                    <div class="fr hover" style="margin-top:24px;color:#222;font-size:16px"><span style="cursor:pointer">+ 加入小组</span></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mt10 group_zi"><span style="font-size:18px">现在二十四小时不离身的不是女朋友，也不是男朋友，是手机！手机测评、手机推荐、以及怎么玩手机？ 这里手机控的天堂。</span></div>
            <div class="mt20" style="border-top:1px solid #BBB"></div>  
            <div class="mt10">
                <div class="mt10">
                    <a class="hover " style="color:#111;font-size: 19px; " href="">屏幕炸屏幕炸,屏幕炸完天线炸!|记iPhone 7【天线门】</a>
                    <div class="fr">
                        <span style="color:#666"><p style='margin-top:3px' class="glyphicon glyphicon-eye-open"></p>200&nbsp;
                        <p class="glyphicon glyphicon-cloud"></p>200</span>
                    </div>
                    
                </div>
                <div class="mt10">
                    <a class="hover " style="color:#111;font-size: 19px" href="">屏幕炸屏幕炸,屏幕炸完天线炸!|记iPhone 7【天线门】</a>
                    <div class="fr">
                        <span style="color:#666"><p style='margin-top:3px' class="glyphicon glyphicon-eye-open"></p>200&nbsp;
                        <p class="glyphicon glyphicon-cloud"></p>200</span>
                    </div>
                    
                </div>
                <div class="mt10">
                    <a class="hover " style="color:#111;font-size: 19px" href="">屏幕炸屏幕炸,屏幕炸完天线炸!|记iPhone 7【天线门】</a>
                    <div class="fr">
                        <span style="color:#666"><p style='margin-top:3px' class="glyphicon glyphicon-eye-open"></p>200&nbsp;
                        <p class="glyphicon glyphicon-cloud"></p>200</span>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <!-- <div class="border group_content mt30" style="border:1px solid #BBB;border-top:2px solid #222">
            <div class="">
                <div>
                    <div class="fl" style="width:14%">
                        <img src="__PUBLIC__/home/image/grouphead1.jpg" alt="">
                    </div>
                    <div class="fl type1" style="width:65%;margin-top:10px">
                        <a style="color:#111" href="">手机研究所</a><br>
                        <span class="group_zi" style="font-size:14px;cursor:default;">13216&nbsp;人聚集于此 &nbsp;&nbsp;4855&nbsp;帖子</span>
                    </div>
                    <div class="fr hover" style="margin-top:24px;color:#222;font-size:16px"><span style="cursor:pointer">+ 加入小组</span></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="mt10 group_zi"><span style="font-size:18px">现在二十四小时不离身的不是女朋友，也不是男朋友，是手机！手机测评、手机推荐、以及怎么玩手机？ 这里手机控的天堂。</span></div>
            <div class="mt20" style="border-top:1px solid #BBB"></div>  
            <div class="mt10">
                <div class="mt10">
                    <a class="hover " style="color:#111;font-size: 19px; " href="">屏幕炸屏幕炸,屏幕炸完天线炸!|记iPhone 7【天线门】</a>
                    <div class="fr">
                        <span style="color:#666"><p style='margin-top:3px' class="glyphicon glyphicon-eye-open"></p>200&nbsp;
                        <p class="glyphicon glyphicon-cloud"></p>200</span>
                    </div>
                    
                </div>
                <div class="mt10">
                    <a class="hover " style="color:#111;font-size: 19px" href="">屏幕炸屏幕炸,屏幕炸完天线炸!|记iPhone 7【天线门】</a>
                    <div class="fr">
                        <span style="color:#666"><p style='margin-top:3px' class="glyphicon glyphicon-eye-open"></p>200&nbsp;
                        <p class="glyphicon glyphicon-cloud"></p>200</span>
                    </div>
                    
                </div>
                <div class="mt10">
                    <a class="hover " style="color:#111;font-size: 19px" href="">屏幕炸屏幕炸,屏幕炸完天线炸!|记iPhone 7【天线门】</a>
                    <div class="fr">
                        <span style="color:#666"><p style='margin-top:3px' class="glyphicon glyphicon-eye-open"></p>200&nbsp;
                        <p class="glyphicon glyphicon-cloud"></p>200</span>
                    </div>
                    
                </div>
                
            </div>
        </div> -->

        <!-- 右侧小组 -->

    </div>
    </div>    <!-- container -->  
</block>