<div class="row" style="margin-top: 30px">
        <div class="col-md-1"></div>
        <div class="col-sm-12 col-md-7 ">
            <div style="margin-left:2%">         <!-- 最大的div -->
                <div class="row">
                    <div class="white fl col-md-12">
                        <div class="fl">
                            <a href="">
                              <img style="width:70px;border-radius:50px" src="__PUBLIC__/home/image/head1.jpg" alt="">
                            </a>
                        </div>
                        <div class=" col-lt-3 col-sm-3 col-md-3 fl" >
                            <div><p class="user">用户名</p></div>
                            <div><a href="" class="group">所属组</a></div>
                        </div>
                        <div class="fr " style="">
                            <p class="time">5小时之前</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="row">
                  <div class="col-mid-12 ">
                  <div class=""><img style="width:100%" src="__PUBLIC__/home/image/title1.jpg" alt=""></div>
                  </div>
                </div>
            <div class=" row">
              <div class="white col-mid-12">
                <a class="title " href="">千元以下能买到什么？红米 4 与红米 4A 轻体验</a>
                <br>
                <span class="content">不知道尾巴们还记得锤子科技 2016 新品发布会时我为大家带来的锤子手机 M1 / M1L 开箱文章吗？当时由于时间、光线等各种原因导致拍出来的开箱文图片...</span>
              </div>
            </div>
            </div>
        </div>
    </div>