*{
	margin: 0;
	padding: 0;
}
#group_nav{
	font-size: 12px;
	color:#999;
	margin-top:10px;
}
.fl{
	float: left;
}
#group_deg{
	margin-top:20px;
}
#group_reg{
	width: 1120px;
	height: 300px;
	border:1px solid #ccc;
	position: relative;
}
#group_bg{
	width: 1120px;
	height:215px;

}
#group_logo{
	position: absolute;
	left: 20px;
	top: 120px;
	width: 130px;
	height: 130px;
	background: white;
}
#group_regt{
	position: absolute;
	width: 960px;
	height:100px;
	left: 150px;
    top:120px;
}
#group_name{
	width: 180px;
	height: 50px;
	line-height: 50px;
	color:white;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#group_mers{
	width: 350px;
	height: 45px;

}
#group_user{
	width: 100px;
	height: 45px;
    margin-left:20px;
	color:white;
	line-height: 35px;
	text-align: center;
	font-family: '黑体';
}
#group_post{
	width: 80px;
	height: 45px;
	color:white;
	line-height: 35px;
	text-align: center;
	font-family: '黑体';
}
#group_btn{
	width: 100px;
	height: 45px;
	margin-left:30px;
	color:white;
	line-height: 35px;
	font-family: '黑体';
    
}
.btn-danger{
    width: 100px;
    height: 40px;
}
#group_des{
	position: absolute;
	width: 900px;
	height:30px;
	left: 180px;
    top:230px;
    line-height: 30px;
}
#group_body{
	width: 760px;
	margin-top:30px;
	/*position: relative;*/
}
#group_bodyh{
	/*position: absolute;*/
	width: 760px;
	height: 60px;
	border-bottom:2px solid #fd6649;
}
#group_bodya{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-family: "黑体";
}
#group_bodyb{
	width: 100px;
	height: 40px;
	margin-left:540px;
	margin-top:10px;
}
#group_bodyf{
	color:#666;
	text-decoration: none;
}
#group_bodyf:hover{
	color:#fd6649;
}
#group_cont{
	width: 760px;
	height: 200px;
	border-bottom:1px solid #ccc;
	position: relative;
}
#group_contc{
	position: absolute;
	width: 50px;
	height: 55px;
	top:20px;
	background:#eee;
	text-align: center;
	color:#fd6649;
}
#group_contt{
	position: absolute;
	width: 510px;
	height:30px;
	left:70px;
	top:20px;
	line-height: 30px;
}
#group_conta{
	text-decoration:none;
	color: #333;
	font-size: 18px
}
#group_contp{
	width: 520px;
	height: 80px;
	position: absolute;
	left:60px;
	top: 50px;
}
#group_contpp{
	width: 120px;
	height: 80px;
	margin-left:10px;
	float:left;
}
#group_contu{
	position: absolute;
	width: 70px;
	height: 25px;
	left: 70px;
	top: 150px;
	text-align: center;
	line-height: 25px;

}
#group_contd{
    position: absolute;
	width: 140px;
	height: 25px;
	left: 140px;
	top: 150px;
	font-size: 12px;
	color:#666;
}
#group_conte{
	position: absolute;
	width: 70px;
	height: 25px;
	left: 600px;
	top:150px;
}
#group_conts{
	position: absolute;
	width: 70px;
	height: 25px;
	left: 670px;
	top:150px;
}
#group_gather{
	width: 320px;
	height: 245px;
	margin:40px 0 0 40px;	
}
#group_gathera{
	width: 320px;
	height: 55px;
	line-height: 55px;
	font-size: 16px;
	font-family: '黑体';
}
#group_gatherb{
	margin-left:130px;
	text-decoration: none;
	color:#999;
}
#group_gatherc{
	width: 320px;
	height: 190px;
	border:1px solid #999;
}
#group_gatherd{
	width:80px;
	height:95px;
	border:1px solid red;
}
#group_reco{
	width: 320px;
	height: 325px;
	margin:40px 0 0 40px;	
	right: 30px;

}
#group_bege{
	width: 320px;
	height: 325px;
	margin:40px 0 0 40px;	
	position:absolute;
	right: 30px;
}
#group_recoc{
    width: 320px;
	height: 270px;
	border:1px solid #999;

}
#group_recod{
	width: 280px;
	height: 90px;
	margin: 0 20px;
	border-bottom:1px solid #ccc;
	position: relative;
}
#group_recoe{
	position: absolute;
	width: 55px;
	height:55px;
	border:1px solid black;
	top:20px;
}
#group_recof{
	position: absolute;
	width: 160px;
	height: 30px;
	left: 65px;
	top:20px;
	border:1px solid black;
}
#group_recog{
	position: absolute;
	width: 70px;
	height: 30px;
	top: 20px;
	left:230px;
	border:1px solid black;
	font-size: 12px;

}
#group_recoh{
	position: absolute;
	width: 160px;
	height: 25px;
	top:50px;
	left: 65px;
	border:1px solid red;
	font-size: 12px;
}
#group_recoi{
	position: absolute;
	width: 70px;
	height: 25px;
	top: 50px;
	left:230px;
	border:1px solid black;
	font-size: 12px;
	color: #666
}
#group_recoj{
	text-decoration: none;
	color:#fe5048;
}
#group_recol{
	position: absolute;
	width: 220px;
	height: 35px;
	top:50px;
	left: 65px;
	border:1px solid red;
	font-size: 12px;
}