body {
  margin: 0 auto; 
  padding: 0;
}
.personal_cover {
  border: 1px black solid;
  position: absolute;
  width: auto;
  height: auto;
}
.personal_header{
  border: 1px black solid;
  position: absolute;
  width: 100%;
  height: 109px;
  background-image: url('__PUBLIC__/home/image/personal_header_bg.jpg');
}
