<extend name="Index/index" />

<block name="link">
    <title>LGM社区</title>
    <!-- <link rel="stylesheet" href="__PUBLIC__/dist/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="__PUBLIC__/home/post.css">
      <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
      <link href="__PUBLIC__/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
      <script type="text/javascript" src="__PUBLIC__/umeditor/third-party/jquery.min.js"></script>
      <script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor/umeditor.config.js"></script>
      <script type="text/javascript" charset="utf-8" src="__PUBLIC__/umeditor/umeditor.min.js"></script>
      <script type="text/javascript" src="__PUBLIC__/umeditor/lang/zh-cn/zh-cn.js"></script>

</block>
<block name="scroll"></block>
<block name="daohang">
    <li ><a href="<{:U('Home/Index/index')}>">首页</a></li>
    <li class="active"><a href="<{:U('Home/Community/index')}>">社区</a></li>
</block>

<block name="main">

<div class="container">
  <div class="row">
    <form action="<{:U('Post/insert')}>" method="post">
  	  <div class="col-xs-15 col-md-10 col-md-offset-1" id="postadd_a">

  		  <input type="text" name="title" placeholder="#主题#" class="col-xs-12 col-md-8" id="postadd_title">

        <div class="col-xs-5 col-md-3">
            <select class="col-xs-15 col-md-12" name="gid" id="postadd_sele">
              <foreach name="oppo" item="v">
              <option value="<{$v.id}>"><{$v.name}></option>
              </foreach>
            </select>
        </div>
      <!--发表预览begin-->
        <div class="col-xs-12 col-sm-10" id="postadd_mye"> 
          <script type="text/plain" id="myEditor" style="width:880px;">
          </script>
        </div>
        <div class="col-xs-13 col-md-11" id="postadd_mye"> 
          <input type="submit"  class="btn btn-danger" style="width:100px;" value="发表">
          <a href=""  class="btn btn-default" id="postadd_glan">预览</a>
          <div style="height:20px"></div>
        </div>
        <hr>
           
      </div>
      <!--发表预览end-->
    </form>
       <script>
        var um = UM.getEditor('myEditor');
        // function getContent() {
        //     var content = UM.getEditor('myEditor').getContent()
        //     UM.getEditor('myEditor').setContent(content, isAppendTo);
        // }
       </script>
  </div>
</div>
<div style="margin-top:100px;width:100%;height:50px;background-color: #222">
    <img style="height:50px;margin-left:2% " src="__PUBLIC__/home/image/logo.jpg" alt="">
    <img style="height:30px;" src="__PUBLIC__/home/image/logozi.jpg" alt="">
    <p class="fr" style="color:#f0f0f0;height:50px;line-height:50px;float:right">TECHNOLOGY STAYS TRUE HERE  |  © 2016 LGM | 苏ICP备12076188号-1</p>
</div>
</block>
