<extend name="Index/index" />
<block name="link">
<title>分享交流组</title>
  <link rel="stylesheet" href="__PUBLIC__/dist/css/bootstrap.min.css">
  <script src="__PUBLIC__/dist/jquery-1.11.3.min.js"></script>
  <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="__PUBLIC__/home/group.css">

</block>
<block name="scroll"></block>
<block name="daohang">
    <li ><a href="<{:U('Home/Index/index')}>">首页</a></li>
    <li class="active"><a href="<{:U('Home/Community/index')}>">社区</a></li>
</block>

<block name="main">
<div class="container">
<div class="row">
  <div class="col-xs-18 col-md-12" id="group_nav">官网>社区>小组>手机研究所</div>

  <div class="col-xs-18 col-md-12" id="group_deg">
  	<!--背景大框begin-->
  	<div id="group_reg" style="height:300px">

  		<div id="group_bg"><img src="__ROOT__/<{$group.bgpic}>"></div>
  		<div id="group_logo"><img src="__ROOT__/<{$group.logo}>" 
  			style="margin:5px"></div>
        <!--regt begin-->
  		<div id="group_regt">
  			<div id="group_name">
  				<{$group.name}>
  			</div>
  			<div id="group_mers">
	  			<div class="fl" id="group_user">
	  				组员：13234
	  			</div>
	  			<div  class="fl" id="group_post">
	  				帖子：4863
	  			</div>
	  			<div class="fl" id="group_btn">
	  				<button type="button" class="btn btn-danger">+ 加入小组</button>
	  			</div>
	  		</div>
  		</div>

  		<!--regt end-->
  		<div id="group_des" style="width:940px;height:60px">
       <{$group.description}>
  		</div>

  	</div>
  	<!--背景大框end-->
  	<!--帖子内容begin-->
  	<div id="group_body" class="fl">
  		<!--导航begin-->
  		<div id="group_bodyh">
  			<div class="fl" id="group_bodya">
  				<a href="" id="group_bodyf">全部</a>
  			</div>
  			<div class="fl" id="group_bodya">
  				<a href="" id="group_bodyf">精华</a>
  			</div>
  			<div class="fl" id="group_bodyb">
	  				<button type="button" id="posted" class="btn btn-danger" style="background:#fd6649;">发帖</button>
<script>
var posted = document.getElementById('posted');
	posted.onclick = function(){
		location.href = "<{:U('Post/add',array(gid=>$gid))}>"
	}
</script>
  			</div>

  		</div>
  			<!--导航end-->
       <volist name="lists" id="v">
      
		<!--帖子begin-->
		<div id="group_cont">
			<div id="group_contc">
				<div style="width:50px;height:40px;margin-top:5px">评论<br><{$v.comment}></div>
			</div>
			<div id="group_contt">
				<a href=""id="group_conta"><{$v.title}></a>
			</div>
			<!--遍历帖子图片beign-->
			<div id="group_contp">
				<foreach name="pic" item="vo" key="k">
					<if condition="$v.id eq $k">
						<volist name="vo" id="sub">
					     <div id="group_contpp">
						<img src="__PUBLIC__<{$sub}>" width=120 height=80>

					     </div>
				      </volist>
				    </if>
			    </foreach>
			</div>
			<!--遍历帖子图片beign-->
			<!--作者begin-->
			<div id="group_contu">
				<{$v.name}>
			</div>
			<!--作者end-->
        <!--时间begin-->
		    <div id="group_contd">
		    	<p class="glyphicon glyphicon-time" style="margin-top:5px"></p>
		    	<{$v.ctime}>
			</div>
        <!--时间end-->
	        <!--点赞begin-->
	        <div id="group_conte">
	        	<p class="glyphicon glyphicon-thumbs-up" style="margin-top:5px"></p>
	        	<{$v.likes}>
	        </div>
	        <!--点赞end-->
	        <!--浏览量begin-->
	        <div id="group_conts">
	        	<p class="glyphicon glyphicon-eye-open" style="margin-top:5px"></p>
	        	<{$v.glance}>
	        </div>
	        <!--浏览量end-->
		</div>
		<!--帖子end-->
	   </volist>

	     <nav class="col-md-6 col-md-offset-2">
		  <ul class="pagination pagination-lg">
		    <li><a href="#">&laquo;</a></li>
		    <li><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li><a href="#">&raquo;</a></li>
		  </ul>
		</nav>
  		
  	</div>
  	<!--帖子内容end-->
   <div id="group_adver"class="fl">
  	<div id="group_gather">
  		<div id="group_gathera">
  			232位组员聚集在此
  			<a href="" id="group_gatherb">全部></a>
  		</div>
  		<div id="group_gatherc">
  			<div id="group_gatherd"></div>
  		</div>
  		
  	</div>
    <!--推荐小组begin-->
  	<div id="group_reco">
  		<div id="group_gathera">
  			推荐小组
  		</div>
  		<div id="group_recoc">
  			<div id="group_recod">
  				<!--头像-->
  				<div id="group_recoe">
  				</div>
  				<!--组名-->
  				<div id="group_recof">
  				</div>
  				<!--进入小组-->
  				<div id="group_recog">
  					<a href=""id="group_recoj">进入小组></a>
  				</div>
  				<!--人数-->
  				<div id="group_recoh">
  					<div style="width:90px" class="fl">2112</div>
  					<div style="width:60px" class="fl">聚集在此</div>
  			    </div>
  			    <!--帖子-->
  			    <div id="group_recoi">
  			    	<div style="width:40px" class="fl">2112</div>
  					<div style="width:25px" class="fl">帖子</div>
  			    </div>
  			</div>

  			<div id="group_recod">
  				<!--头像-->
  				<div id="group_recoe">
  				</div>
  				<!--组名-->
  				<div id="group_recof">
  				</div>
  				<!--进入小组-->
  				<div id="group_recog">
  					<a href=""id="group_recoj">进入小组></a>
  				</div>
  				<!--人数-->
  				<div id="group_recoh">
  					<div style="width:90px" class="fl">2112</div>
  					<div style="width:60px" class="fl">聚集在此</div>
  			    </div>
  			    <!--帖子-->
  			    <div id="group_recoi">
  			    	<div style="width:40px" class="fl">2112</div>
  					<div style="width:25px" class="fl">帖子</div>
  			    </div>
  			</div>

  			<div id="group_recod">
  				<!--头像-->
  				<div id="group_recoe">
  				</div>
  				<!--组名-->
  				<div id="group_recof">
  				</div>
  				<!--进入小组-->
  				<div id="group_recog">
  					<a href=""id="group_recoj">进入小组></a>
  				</div>
  				<!--人数-->
  				<div id="group_recoh">
  					<div style="width:90px" class="fl">2112</div>
  					<div style="width:60px" class="fl">聚集在此</div>
  			    </div>
  			    <!--帖子-->
  			    <div id="group_recoi">
  			    	<div style="width:40px" class="fl">2112</div>
  					<div style="width:25px" class="fl">帖子</div>
  			    </div>
  			</div>
  		</div>
  	</div>
  	<!--推荐小组end-->

  	<!--推荐小组begin-->
  	<div id="group_reco">
  		<div id="group_gathera">
  			组员光荣榜
  		</div>
  		<div id="group_recoc">
  			<div id="group_recod">
  				<!--头像-->
  				<div id="group_recoe">
  				</div>
  				<!--组名-->
  				<div id="group_recof">
  				</div>
 
  				<!--人数-->
  				<div id="group_recol">
  			     发表的..............被加精
  			    </div>
  			</div>

  			<div id="group_recod">
  				<!--头像-->
  				<div id="group_recoe">
  				</div>
  				<!--组名-->
  				<div id="group_recof">
  				</div>
 
  				<!--人数-->
  				<div id="group_recol">
  			     发表的..............被加精
  			    </div>
  			</div>

  			<div id="group_recod">
  				<!--头像-->
  				<div id="group_recoe">
  				</div>
  				<!--组名-->
  				<div id="group_recof">
  				</div>
 
  				<!--人数-->
  				<div id="group_recol">
  			     发表的..............被加精
  			    </div>
  			</div>
 
  			</div>
  		</div>
  	</div>
  	<!--推荐小组end-->
  	</div>	
  	</div>

  </div>


</div>
</div>
</block>


